.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
  gap: 10px;

  > .pageControls {
    display: flex;
    justify-content: center;
    align-items: center;

    > span {
      padding: 10px;
    }
    > button {
      padding: 10px;

      &:disabled {
        cursor: not-allowed;
        svg {
          stroke: $gray;
        }
      }
    }
  }
}
