.notification {
  min-width: max(25vw, 120px);
  padding: 12px 20px;
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: slideIn 0.3s ease-out, fadeOut 0.5s ease-in 2.5s forwards;
}
.notification-info {
  background-color: $info-background;
  color: $info;
  border-color: $info;
  svg {
    stroke: $info;
  }
}
.notification-success {
  background-color: $success-background;
  color: $success;
  border-color: $success;
  svg {
    stroke: $success;
  }
}
.notification-error {
  background-color: $error-background;
  color: $error;
  border-color: $error;
  svg {
    stroke: $error;
  }
}
.notification-warning {
  background-color: $warning-background;
  color: $warning;
  border-color: $warning;
  svg {
    stroke: $warning;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
    height: 0;
    margin: 0;
    padding: 0;
  }
}
