.button {
  background-color: $primary;
  color: white;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 48px;
  border-radius: 6px;
}

.iconTextButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
}

.rounded {
  border-radius: 100px;
}

.loading {
  background-color: $gray;
  cursor: progress;
}

.disabled {
  cursor: not-allowed;
  background-color: $gray;
}
