.container {
  position: relative;
  padding: 10px;
  border: 1px solid $info;
  border-radius: 6px;
  background-color: $info-background;

  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
