.tag {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: $gray-dark;
  border-radius: 6px;
  padding: 6px 12px;
  color: $light;

  > span {
    cursor: pointer;
  }
}
.descriptionContainer {
  border-radius: 6px;
  background-color: $gray-light;
  margin: 10px 0;
  padding: 10px;
  white-space: pre-line;
}
.image {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: $shadow;
}
