.sidebar {
  min-width: $sidebar-width;
  background: $primary;
  color: #fff;
  height: 100dvh;
  padding: 10px;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    width: 240px;
    max-width: 240px;
    padding: 20px 10px;
  }
}

.sidebarGroupHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 8px;

  &:hover {
    border-radius: 4px;
    background-color: #aaaaaa75;
  }
}

.sidebarLink {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;

  &:hover:not(.inner):not(.active) {
    border-radius: 4px;
    background-color: #aaaaaa75;
  }

  &.active {
    background-color: $gray-light;

    > span {
      color: #000;
    }
    > svg {
      stroke: #000;
    }
  }
}

.sidebarChildren {
  padding-left: 14px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;

  &.open {
    height: calc-size(auto, size);
    overflow: visible;
    opacity: 1;
  }
}
