.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  thead {
    font-family: $font-medium;

    tr {
      border-bottom: 1.5px solid $dark;
      background-color: $light;
    }

    th {
      text-align: left;
    }
  }

  tbody {
    font-size: 14px;

    tr {
      border-bottom: 1px solid $gray;

      &:nth-child(odd) {
        background-color: $light;
      }
      &:nth-child(even) {
        background-color: $light;
      }

      td {
        .actionsContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          .actionIconContainer {
            width: 32px;
            height: 32px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &.disabledIcon {
              cursor: not-allowed;
              background-color: #e7e7e7 !important;

              > svg {
                stroke: #b6b6b6 !important;
              }
            }
          }
        }
      }
    }
  }

  th,
  td {
    padding: 0.6em;
    min-width: 80px;
  }
}
