.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .errorIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
