// FONTS
$font-heavy: 'Visby Heavy';
$font-extrabold: 'Visby Extrabold';
$font-bold: 'Visby Bold';
$font-semibold: 'Visby Semibold';
$font-medium: 'Visby Medium';
$font-regular: 'Visby';
$font-light: 'Visby Light';
$font-thin: 'Visby Thin';
// italics
$font-heavy-italic: 'Visby Heavy Italic';
$font-extrabold-italic: 'Visby Extrabold Italic';
$font-bold-italic: 'Visby Bold Italic';
$font-semibold-italic: 'Visby Semibold Italic';
$font-medium-italic: 'Visby Medium Italic';
$font-regular-italic: 'Visby Italic';
$font-light-italic: 'Visby Light Italic';
$font-thin-italic: 'Visby Thin Italic';

// SIZES
$sidebar-width: 260px;

// MISC
$shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.25);

// COLORS
$background: #faf9f6;

$dark: #161616;
$gray: #b4b4b4;
$light: #ececec;

$primary: #316bdc;
$secondary: #ffa627;

$info: #4688f3;
$info-background: #d4e4fb;
$warning: #e3b240;
$warning-background: #faf2dd;
$success: #48be48;
$success-background: #e4f6e6;
$error: #ee6d61;
$error-background: #f9dddc;
