// FONTS
$font-heavy: 'Visby Heavy';
$font-extrabold: 'Visby Extrabold';
$font-bold: 'Visby Bold';
$font-semibold: 'Visby Semibold';
$font-medium: 'Visby Medium';
$font-regular: 'Visby';
$font-light: 'Visby Light';
$font-thin: 'Visby Thin';

// SIZES
$sidebar-width: 260px;

// MISC
$shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.25);

// COLORS
$background: #faf9f6;
$background-dark: #3d3300;

$dark: #4b4737;
$gray: #b1ab99;
$light: #ececec;

$primary-light: #fcf0ca;
$primary: #e5cf67;
$primary-dark: #a69963;
$secondary-light: #f2fedc;
$secondary: #005b47;
$secondary-dark: #1b3d2f;

// Alerts
$info: #4688f3;
$info-background: #d4e4fb;
$warning: #e3b240;
$warning-background: #faf2dd;
$success: #48be48;
$success-background: #e4f6e6;
$error: #ee6d61;
$error-background: #f9dddc;
