@font-face {
  font-family: $font-heavy;
  src: url(../fonts/VisbyHeavy.otf) format('opentype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: $font-extrabold;
  src: url(../fonts/VisbyExtrabold.otf) format('opentype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: $font-bold;
  src: url(../fonts/VisbyBold.otf) format('opentype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: $font-semibold;
  src: url(@/assets/fonts/VisbySemibold.otf) format('opentype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: $font-medium;
  src: url(@/assets/fonts/VisbyMedium.otf) format('opentype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: $font-regular;
  src: url(@/assets/fonts/VisbyRegular.otf) format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: $font-light;
  src: url(@/assets/fonts/VisbyLight.otf) format('opentype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: $font-thin;
  src: url(@/assets/fonts/VisbyThin.otf) format('opentype');
  font-style: normal;
  font-weight: 200;
}

* {
  font-family: $font-regular, Helvetica, Inter;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:root {
  -moz-osx-font-smoothing: grayscale;

  background-color: $light;
  color: $dark;
}

#navigation_layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  > #navigation_outlet {
    padding: 12px;
    flex-grow: 1;
    overflow: auto;
  }
}
