* {
  margin: 0;
}

*,
*::before,
*::after {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

/* Media */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: black;

  &.underlined {
    text-decoration: underline;
  }
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-family: $font-medium;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all 0.3s ease;

  &:hover:not(.disabled):not(.loading) {
    filter: brightness(90%);
  }
}

form button {
  &[type='reset'] {
    background-color: $error-background;
    color: $error;
    margin-right: 10px;
  }
  &[type='submit'] {
    background-color: $success-background;
    color: $success;
  }

  &:disabled {
    background-color: $light;
    color: $gray;
  }
}
