.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.skeleton {
  position: absolute;
  inset: 0;
  background-color: #e5e7eb;
  border-radius: 4px;
  animation: pulse 1.6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  opacity: 1;
  box-shadow: $shadow;
  transition: opacity 0.3s ease-in-out;

  &.loading {
    opacity: 0;
  }
}

.error {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7ebce;

  color: $gray;
  font-size: 14px;
  border-radius: 4px;
  z-index: 20;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
